html{
    overflow: hidden;
}
body{
    background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
}
.Baixo {
    background-color: greenyellow;
    color: black;
}
.Medio {
    background-color: yellow;
    color: black;
}
.Alto {
    background-color: red;
    color: white;
}
.Urgente {
    background-color: black;
    color: white;
}
.Bio{
    background-color: purple;
    color: yellow;
}
.Amb{
    background-color: green;
    color: whitesmoke;
}
.AcTr{
    background-color:rgb(189, 189, 0) ;
    color: rgb(47, 47, 51);
}
.Clim{
    background-color:rgb(80, 198, 99) ;
    color: black;
}
select:hover,
select:focus,
select:active,
select:checked {
  color: yellow;
  background-color: black;
}
select{
    text-align: center;
}
  option[value=""] {
    display: none;
  }
.Informacoes{
    position: absolute;
    max-width: 500px;
    top: 40%;
    bottom: 40%;
    left: 35%;
    right: 35%;
    align-items: center;
    display: grid;
    background-color: white;
}
textarea{
    max-width: 27vw;
    max-height: 7vh;
    min-width: 27vw;
    min-height: 7vh;
    border-radius: 0%;
    margin: 10px;
}
.perg{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.bttSub{
    position: absolute;
    top: 69%;
    bottom: 28%;
    left: 46%;
    right: 46%;
    background-color: white;
    color: black;
    font-style:italic;
    font-weight: bold;
    transition: 0.2s;
}
.bttSub:hover{
  background-color: black;
  color: white;
  top: 68.59%;
  bottom: 27.59%;
  left: 45.59%;
  right: 45.59%;
  font-weight: bolder;
  border-color: blue;
}
.setvoltar{
    max-width: 6%;
    max-height: 6%;
    filter: invert(100%);
}
.Logo{
    position: absolute;
    top: 10%;
    right: 38%;
    max-width: 25%;
    min-height: 25%;
}
.mapExen{
    position: fixed;
    top:0%;
    left:0%;
    justify-content: center;
    width: 100vw;
    height: 95vh;
    overflow: hidden;
}
.divMap{
    position: fixed;
    background-color: white;
    top:0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    visibility: hidden;
}
.butSelec{
    position: fixed;
    top:95.43%;
    left:90%;
    justify-content: center;
    visibility: hidd;
    width: 7vw;
    height: 4vh;
}
.divMap.open{
    visibility: visible;
}
#selecao {
    border: 2px #aaf solid;
    position: absolute;
    display: none;
    background-color: rgba(255, 0, 0, 0.3);
}
.perg{
    text-align: center;
    color:black;
}
#info{
    position: fixed;
    top:95.43%;
    left:10%;
    visibility: inherit;
}
.TxtFoot{
    position: absolute;
    z-index: -1;
    bottom: 0%;
    right: 1%;
    color: whitesmoke;
    font-size: small;
}